

#body {
  background-image: url("/resources/images/palm.jpg");
  background-size: cover;
}

#newAnimal {
  display: block;
  font-size: 22px;
  font-family: sans-serif;
  background: green;
  color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%

}

#header {
  background-size: cover;
  height: 250px;
}

p {
  text-align: justify;
  font-size: 18px;
  font-family: sans-serif;

}

label {
    font-size: 16px;
  }

select {
  margin-left: 12px;
  font-size: 20px;
}

p {
  text-align: justify;
  font-size: 12px;
}
li {
  font-size: 16px;
}

.btn-default {
  font-family: sans-serif;
  padding: 22px;
  width: 50 px;
  height: 20px;
  font-size: 22px;
}

.well {
  display: none;
  background: none;
}

.rowTwo {
  padding-top: 100px;
  /*margin-top: 50px;*/
}

#right-float {
  float: right;
}
#left-float {
  float: left;
}
